automation/n8n/candace_tiktok_responder_supabase.json
{
  "name": "Candace TikTok Talker (classifier + funnel + profiler v6)",
  "nodes": [
    {
      "parameters": {
        "path": "13efd976-70bb-4a0d-9af9-30333abf6262",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2160,
        80
      ],
      "id": "735a6c79-2cf2-4a3d-8e4f-8c4377a88cdc",
      "name": "Webhook",
      "webhookId": "13efd976-70bb-4a0d-9af9-30333abf6262"
    },
    {
      "parameters": {
        "jsCode": "const d = $json || {};\nconst h = d.headers || {};\nconst b = (d.body && typeof d.body === 'object') ? d.body : {};\nconst q = d.query || {};\nconst msg = (h.last_text_input || b.last_text_input || b.message || b.text || b.last_input_text || b.last_input || b.user_message || b.msg || q.last_text_input || q.message || q.text || '').toString().replace(/^\\s*\\.+\\s*/, '').trim();\nconst display = h.tiktok_displayname || b.display_name || b.first_name || q.display || q.displayname || 'him';\nconst username = (h.tiktok_username || b.username || q.username || display || 'unknown').toString().toLowerCase();\nreturn [{ json: { username: username, display: display, msg: msg || '(he sent a sticker or an empty message, greet him and tease him lightly)' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        80
      ],
      "id": "ba6df17e-8bd9-4e6b-9f67-1cf2d8a65b3e",
      "name": "Extract Inbound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/rpc/dm_ingest",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_bot: 'candace_summers', p_platform: 'tiktok', p_username: $json.username, p_display: $json.display, p_user_msg: $json.msg, p_window: 10 } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        80
      ],
      "id": "7f486eec-8c51-42df-ab29-58a8753f058f",
      "name": "DB: ingest"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('DB: ingest').first().json || {};\nconst recent = Array.isArray(ctx.recent) ? ctx.recent : [];\nlet cls = {};\ntry { const raw = ($json && $json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ? $json.choices[0].message.content : '{}'; cls = JSON.parse(raw); } catch (e) { cls = {}; }\nconst archetype = cls.archetype || 'normal';\nconst effort = cls.effort || 'medium';\nconst intent = cls.intent || 'normal';\nconst askBack = (cls.ask_back === true);\nconst directive = cls.directive || 'stay cool and playful, be the prize, keep it short.';\nconst brain = (ctx.system_prompt && ctx.system_prompt.length > 50) ? ctx.system_prompt : 'you are candace, a flirty 21yo from columbus ohio. all lowercase, short, no dashes, barely any emoji, you are the prize, never eager.';\nconst model = (ctx.model && ctx.model.length) ? ctx.model : 'gpt-4o';\nconst messages = [{ role: 'system', content: brain }];\nif (ctx.summary && ctx.summary.length) messages.push({ role: 'system', content: 'your private read on him, who he is and where things are at, use it: ' + ctx.summary });\nconst read = 'your read on him for THIS reply. he seems ' + archetype + ', his effort is ' + effort + ', he is ' + intent + '. ' + (askBack ? 'you may end with a question if it genuinely fits.' : 'do NOT end this reply with a question, make a statement.') + ' directive: ' + directive + ' follow this while staying fully in your voice.';\nmessages.push({ role: 'system', content: read });\nconst st = ctx.stage || 'rapport';\nif (st === 'funnelled') messages.push({ role: 'system', content: 'STAGE NOTE: you have ALREADY given him your telegram @candace_summers. do not pitch it again like it is new and do not re-explain it. if he has not gone yet, playfully nudge him to actually come find you over there, tease that you are waiting. keep pulling him toward going.' });\nelse if (st === 'converted') messages.push({ role: 'system', content: 'STAGE NOTE: he has come to your telegram. keep him warm and a little more rewarding now, make him glad he came.' });\nfor (const t of recent) { if (t && t.role && t.content) messages.push({ role: t.role, content: t.content }); }\nconst count = ctx.count || 0;\nreturn [{ json: { messages: messages, model: model, fan_id: ctx.fan_id, bot_id: ctx.bot_id, count: count, stage: st, archetype: archetype } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        80
      ],
      "id": "25422ca8-06ab-4131-ab3b-7cc4db1211b3",
      "name": "Build Messages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.model, temperature: 1, max_tokens: 300, frequency_penalty: 0.5, presence_penalty: 0.4, messages: $json.messages } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        80
      ],
      "id": "099764c5-f67c-4e55-b2b1-5fac812d6c90",
      "name": "Candace AI (OpenAI)"
    },
    {
      "parameters": {
        "jsCode": "const d = $json || {};\nlet reply = '';\ntry { reply = (d.choices && d.choices[0] && d.choices[0].message && d.choices[0].message.content) ? d.choices[0].message.content : ''; } catch (e) { reply = ''; }\nreply = (reply || '').trim();\nconst dq = String.fromCharCode(34);\nif (reply.length > 1 && reply.charAt(0) === dq && reply.charAt(reply.length - 1) === dq) { reply = reply.slice(1, -1).trim(); }\nconst allowed = ['\\u{1F60F}', '\\u{1F92D}', '\\u{1F90D}', '\\u{1F440}'];\nlet ec = 0;\nreply = reply.replace(/\\p{Extended_Pictographic}/gu, function (m) { if (allowed.indexOf(m) === -1) return ''; ec++; return ec > 1 ? '' : m; });\nreply = reply.replace(/[️‍]/g, '');\nreply = reply.replace(/\\s*[—–]\\s*/g, ' ').replace(/\\s+-\\s+/g, ' ');\nreply = reply.toLowerCase().replace(/[ \\t]{2,}/g, ' ').trim();\nif (!reply) { reply = 'hey you'; }\nconst bm = $('Build Messages').first().json;\nreturn [{ json: { reply: reply, fan_id: bm.fan_id, bot_id: bm.bot_id, needSummary: bm.needSummary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        80
      ],
      "id": "4562fd23-4a2c-46bc-ab2c-fbe5ee651259",
      "name": "Format Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/rpc/dm_log_reply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_fan_id: $json.fan_id, p_bot_id: $json.bot_id, p_reply: $json.reply } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        80
      ],
      "id": "24ec21d6-6d88-4c25-a5fa-6efa1bf4db08",
      "name": "DB: log reply"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $('Format Reply').item.json.reply } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -360,
        220
      ],
      "id": "c434f0ea-0623-48e6-a7b7-0ffa2a6636a9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json || {};\nconst recent = Array.isArray(ctx.recent) ? ctx.recent : [];\nconst last = recent.length ? recent[recent.length - 1].content : '';\nconst history = recent.slice(-7).map(function (t) { return (t.role === 'user' ? 'him: ' : 'her: ') + t.content; }).join('\\n');\nconst turns = recent.length;\nconst sys = [\n'you are a fast silent classifier for a flirty 21yo female texting persona named candace, talking to a man in her dms. she is the prize: cool, hard to get, never eager. her endgame is to lead him to her private telegram @candace_summers. you never write her reply. you output one json object only, nothing else.',\n'read his latest message and the recent context, then output exactly this json:',\n'{',\n'\"archetype\": one of [sweet, cocky, shy, provider, submissive, lowffort, hostile, normal],',\n'\"intent\": one of [greeting, compliment, question_about_her, question_other, sexual, bot_test, wants_more, wants_to_meet, wants_personal_info, vulnerable, boring, insult, normal],',\n'\"effort\": one of [low, medium, high],',\n'\"funnel\": boolean. true only when it is the right moment to lead him toward the telegram (he asked for more, onlyfans, snap, other socials, where to find her, to see more, or he is clearly hooked and flirty). false otherwise. do not funnel a guy who just said hey.',\n'\"ask_back\": boolean. DEFAULT false. true only about one in five, never if his last reply was a question, never if he is low effort, never on a compliment or question_about_her.',\n'\"directive\": a short specific instruction, max 22 words, for how candace plays THIS reply. she is the prize, never gushes, never over shares, never interviews him.',\n'}',\n'directive guidance by case:',\n'- wants_more (asks about onlyfans, snapchat, whatsapp, other socials, where else can i find you, can i see more of you, or getting flirty and clearly wanting more): set funnel true. pivot to her personal telegram @candace_summers. frame it as personal access to her, her actual account where she really talks and is less shy, NOT a channel or subscription. it should feel like she just gave him her number, a jackpot he earned. never pushy, never mention money. if the chat is brand new with almost no spark yet (' + turns + ' turns so far), tease the telegram and make him earn it instead of handing it over.',\n'- compliment: receive it coolly and confidently, a little smug, never gush.',\n'- question_about_her: brief and coy, a crumb not a paragraph, no interview back.',\n'- low effort or greeting with nothing behind it: short flat reply, give less.',\n'- cocky or flexing money or status: tease, act unimpressed, make him work.',\n'- submissive or asks to be owned: deny and make him earn it, cool and in control.',\n'- vulnerable: a little real warmth, draw him out gently.',\n'- bot_test: confident playful deflection.',\n'- wants_to_meet or wants_personal_info: coy non answer, she does not give it up.',\n'- insult or hostile: unbothered amused one liner, never defensive.'\n].join('\\n');\nconst usr = 'his latest message: ' + (last || '(empty or sticker)') + '\\nrecent conversation oldest first:\\n' + (history || '(none)') + '\\noutput the json now.';\nreturn [{ json: { classifyMessages: [{ role: 'system', content: sys }, { role: 'user', content: usr }] } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1610,
        260
      ],
      "id": "cls11111-1111-4111-8111-111111111111",
      "name": "Build Classify Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', temperature: 0.2, max_tokens: 160, response_format: { type: 'json_object' }, messages: $json.classifyMessages } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        260
      ],
      "id": "cls22222-2222-4222-8222-222222222222",
      "name": "Classify (OpenAI)"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('DB: ingest').first().json || {};\nconst fr = $('Format Reply').first().json || {};\nconst recent = Array.isArray(ctx.recent) ? ctx.recent : [];\nconst lines = recent.map(function (t) { return (t.role === 'user' ? 'him: ' : 'her: ') + t.content; });\nlines.push('her: ' + (fr.reply || ''));\nconst convo = lines.join('\\n');\nconst prevNote = (ctx.summary && ctx.summary.length) ? ctx.summary : 'none';\nconst sys = [\n'you are an expert conversion strategist for an adult creator dm funnel. candace is a flirty creator who chats with men in her dms and funnels them to her private telegram @candace_summers. you read the conversation and produce an honest, accurate, unsentimental read of THIS man: his buying intent, where he is in the funnel, his type, and the exact technique to convert him. you are accurate, not optimistic. output one json object only.',\n'output exactly this json:',\n'{',\n'\"intent_score\": integer 0 to 100 by the rubric,',\n'\"stage\": one of [cold, rapport, warming, hooked, funnelled, converted, lost],',\n'\"buyer_type\": one of [provider, baller, submissive, lonely, romantic, tire_kicker, normal],',\n'\"temperature\": one of [cold, warm, hot],',\n'\"signals\": array of short evidence phrases taken from the actual conversation,',\n'\"technique\": one short line, the best technique to move him closer to converting from here,',\n'\"next_move\": one short line, the specific next thing candace should do,',\n'\"note\": two short sentences candace should remember about him, who he is and where things stand',\n'}',\n'intent_score rubric: 0-20 cold or tire kicker, low effort or skeptical, no real interest. 21-40 mild, casual chatting, no buying signals. 41-60 warming, engaged and complimenting and putting in effort. 61-80 hot, strong hooks like jealousy, calls her special or different, future talk, hints at wanting more, or spend or provider signals. 81-100 ready, explicitly asked for more or onlyfans or where to find her, eager, said he would spend or spoil her, or heading to or joined the telegram.',\n'stage: cold=just started. rapport=casual chatting. warming=clear interest building. hooked=clearly into her. funnelled=she has given him the telegram. converted=he has gone to or joined the telegram. lost=cold hostile or gone.',\n'technique by type: provider or baller, make him feel like the man and let him invest, funnel as exclusive access. submissive, dominate and make him earn it, funnel as a privilege. lonely or romantic, build emotional intimacy and girlfriend energy, funnel as getting closer. tire_kicker, do not over invest, keep light, let him go if no movement.'\n].join('\\n');\nconst usr = 'previous notes on him: ' + prevNote + '\\nconversation so far (oldest first):\\n' + convo + '\\noutput the json now.';\nreturn [{ json: { profileMessages: [{ role: 'system', content: sys }, { role: 'user', content: usr }], fan_id: ctx.fan_id, reply: (fr.reply || '') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        280
      ],
      "id": "prof0001-0001-4001-8001-000000000001",
      "name": "Build Profile Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', temperature: 0.2, max_tokens: 320, response_format: { type: 'json_object' }, messages: $json.profileMessages } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        280
      ],
      "id": "prof0002-0002-4002-8002-000000000002",
      "name": "Profiler (OpenAI)"
    },
    {
      "parameters": {
        "jsCode": "const d = $json || {};\nlet p = {};\ntry { const raw = (d.choices && d.choices[0] && d.choices[0].message && d.choices[0].message.content) ? d.choices[0].message.content : '{}'; p = JSON.parse(raw); } catch (e) { p = {}; }\nconst src = $('Build Profile Request').first().json || {};\nconst fan_id = src.fan_id;\nconst reply = src.reply || '';\nlet stage = p.stage || 'rapport';\nif (/candace_summers|telegram/i.test(reply) && stage !== 'converted') stage = 'funnelled';\nconst note = (p.note && String(p.note).length) ? p.note : 'still building rapport.';\nconst buyer = p.buyer_type || null;\nconst score = (typeof p.intent_score === 'number') ? p.intent_score : null;\nconst metadata = { intent_score: score, stage: stage, buyer_type: buyer, temperature: p.temperature || null, signals: Array.isArray(p.signals) ? p.signals : [], technique: p.technique || null, next_move: p.next_move || null };\nreturn [{ json: { fan_id: fan_id, summary: note, stage: stage, buyer_type: buyer, metadata: metadata } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        280
      ],
      "id": "prof0003-0003-4003-8003-000000000003",
      "name": "Apply Profile"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/fans?id=eq.' + $json.fan_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { summary: $json.summary, stage: $json.stage, buyer_type: $json.buyer_type, metadata: $json.metadata } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        280
      ],
      "id": "prof0004-0004-4004-8004-000000000004",
      "name": "DB: patch fan"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inbound": {
      "main": [
        [
          {
            "node": "DB: ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: ingest": {
      "main": [
        [
          {
            "node": "Build Classify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages": {
      "main": [
        [
          {
            "node": "Candace AI (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candace AI (OpenAI)": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "DB: log reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: log reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Profile Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classify Request": {
      "main": [
        [
          {
            "node": "Classify (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify (OpenAI)": {
      "main": [
        [
          {
            "node": "Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Profile Request": {
      "main": [
        [
          {
            "node": "Profiler (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profiler (OpenAI)": {
      "main": [
        [
          {
            "node": "Apply Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Profile": {
      "main": [
        [
          {
            "node": "DB: patch fan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "81cef22675fdf3943a5480e092064567fbab4483a05b244b655b7215d2c7bd53"
  },
  "tags": []
}