automation/n8n/candace_admin_api.json
{
  "createdAt": "2026-06-30T13:55:14.383Z",
  "updatedAt": "2026-06-30T13:58:40.412Z",
  "id": "e6o5Yu9GlwfRfhVR",
  "name": "Candace Admin API (fans list + link/unlink persons)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "candace-admin-fans",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        -200
      ],
      "id": "adfans01-0001-4001-8001-000000000001",
      "name": "Webhook: fans",
      "webhookId": "candace-admin-fans"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/fans?select=id,platform,username,display_name,summary,stage,person_id,last_seen,msg_count,bots(slug,display_name)&order=last_seen.desc&limit=500",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -200
      ],
      "id": "adfans02-0002-4002-8002-000000000002",
      "name": "Supabase: fans",
      "credentials": {
        "supabaseApi": {
          "id": "iYBFDGmRg03xuA4O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet fans = [];\nif (items.length === 1 && Array.isArray(items[0].json)) { fans = items[0].json; }\nelse { fans = items.map(function (i) { return i.json; }); }\nreturn [{ json: { fans: fans } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        -200
      ],
      "id": "adfans03-0003-4003-8003-000000000003",
      "name": "Collect fans"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { fans: $json.fans } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -40,
        -200
      ],
      "id": "adfans04-0004-4004-8004-000000000004",
      "name": "Respond fans"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candace-admin-link",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        0
      ],
      "id": "adlink01-0001-4001-8001-000000000001",
      "name": "Webhook: link",
      "webhookId": "candace-admin-link"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/rpc/dm_link_person",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_fan_id: ($json.body && $json.body.fan_id) || $json.fan_id, p_other_fan_id: ($json.body && $json.body.other_fan_id) || $json.other_fan_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        0
      ],
      "id": "adlink02-0002-4002-8002-000000000002",
      "name": "RPC: link person",
      "credentials": {
        "supabaseApi": {
          "id": "iYBFDGmRg03xuA4O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, result: $json } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -180,
        0
      ],
      "id": "adlink03-0003-4003-8003-000000000003",
      "name": "Respond link"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candace-admin-unlink",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        200
      ],
      "id": "adunl001-0001-4001-8001-000000000001",
      "name": "Webhook: unlink",
      "webhookId": "candace-admin-unlink"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/rpc/dm_unlink_fan",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_fan_id: ($json.body && $json.body.fan_id) || $json.fan_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        200
      ],
      "id": "adunl002-0002-4002-8002-000000000002",
      "name": "RPC: unlink fan",
      "credentials": {
        "supabaseApi": {
          "id": "iYBFDGmRg03xuA4O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -180,
        200
      ],
      "id": "adunl003-0003-4003-8003-000000000003",
      "name": "Respond unlink"
    },
    {
      "parameters": {
        "path": "candace-admin-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        400
      ],
      "id": "adcfg001-0001-4001-8001-000000000001",
      "name": "Webhook: config get",
      "webhookId": "candace-admin-config"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/bots?select=slug,display_name,settings&order=slug.asc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        400
      ],
      "id": "adcfg002-0002-4002-8002-000000000002",
      "name": "Supabase: bots",
      "credentials": {
        "supabaseApi": {
          "id": "iYBFDGmRg03xuA4O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();\nlet bots=[];\nif(items.length===1 && Array.isArray(items[0].json)){bots=items[0].json;}else{bots=items.map(function(i){return i.json;});}\nreturn [{ json: { bots: bots } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ],
      "id": "adcfg003-0003-4003-8003-000000000003",
      "name": "Collect bots"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { bots: $json.bots } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -20,
        400
      ],
      "id": "adcfg004-0004-4004-8004-000000000004",
      "name": "Respond config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candace-admin-config-set",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        600
      ],
      "id": "adcset01-0001-4001-8001-000000000001",
      "name": "Webhook: config set",
      "webhookId": "candace-admin-config-set"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vvnefkexzhfgvuusavvl.supabase.co/rest/v1/rpc/dm_set_troll",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { p_slug: ($json.body && $json.body.slug) || $json.slug, p_troll: ($json.body && $json.body.troll) || $json.troll } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        600
      ],
      "id": "adcset02-0002-4002-8002-000000000002",
      "name": "RPC: set troll",
      "credentials": {
        "supabaseApi": {
          "id": "iYBFDGmRg03xuA4O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, settings: $json } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -180,
        600
      ],
      "id": "adcset03-0003-4003-8003-000000000003",
      "name": "Respond config set"
    }
  ],
  "connections": {
    "Webhook: fans": {
      "main": [
        [
          {
            "node": "Supabase: fans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: fans": {
      "main": [
        [
          {
            "node": "Collect fans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect fans": {
      "main": [
        [
          {
            "node": "Respond fans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: link": {
      "main": [
        [
          {
            "node": "RPC: link person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC: link person": {
      "main": [
        [
          {
            "node": "Respond link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: unlink": {
      "main": [
        [
          {
            "node": "RPC: unlink fan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC: unlink fan": {
      "main": [
        [
          {
            "node": "Respond unlink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: config get": {
      "main": [
        [
          {
            "node": "Supabase: bots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: bots": {
      "main": [
        [
          {
            "node": "Collect bots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect bots": {
      "main": [
        [
          {
            "node": "Respond config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: config set": {
      "main": [
        [
          {
            "node": "RPC: set troll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC: set troll": {
      "main": [
        [
          {
            "node": "Respond config set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "80a33d86-f752-4a1b-95cb-5227382f80d9",
  "triggerCount": 3,
  "shared": [
    {
      "createdAt": "2026-06-30T13:55:14.386Z",
      "updatedAt": "2026-06-30T13:55:14.386Z",
      "role": "workflow:owner",
      "workflowId": "e6o5Yu9GlwfRfhVR",
      "projectId": "yTRQR2lksGRfgB8Y",
      "project": {
        "createdAt": "2025-05-24T14:35:39.558Z",
        "updatedAt": "2025-06-10T12:58:45.209Z",
        "id": "yTRQR2lksGRfgB8Y",
        "name": "Kunal Miind <kunal@vedametric.com.au>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-24T14:35:39.558Z",
            "updatedAt": "2025-05-24T14:35:39.558Z",
            "role": "project:personalOwner",
            "userId": "ff6497ac-4f52-49f8-bd12-cca6db747514",
            "projectId": "yTRQR2lksGRfgB8Y",
            "user": {
              "createdAt": "2025-05-24T14:35:37.719Z",
              "updatedAt": "2026-06-29T14:11:16.149Z",
              "id": "ff6497ac-4f52-49f8-bd12-cca6db747514",
              "email": "kunal@vedametric.com.au",
              "firstName": "Kunal",
              "lastName": "Miind",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-24T14:36:31.650Z",
                "personalization_survey_n8n_version": "1.93.0",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "other"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "NPwXwl1s4SVpp41O",
                "userActivatedAt": 1748115956238,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1782742273181
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}